#wrapper {
    margin-top: 2%;
}

.slider {
    font-family: 'Open Sans', sans-serif;
    padding: 50px 120px;
    display: block;
    height: 600px;
}

#tabs-home {
    border-radius: 10px;
}

.panel-default {
    width: 350px;
}

.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usermenu {
    margin-top: 30px;
}

    .profile-usermenu ul li {
        border-bottom: 1px solid #f0f4f7;
    }

        .profile-usermenu ul li:last-child {
            border-bottom: none;
        }

        .profile-usermenu ul li span {
            color: #93a3b5;
            font-size: 14px;
            font-weight: 400;
        }

            .profile-usermenu ul li span i {
                margin-right: 8px;
                font-size: 14px;
            }

            .profile-usermenu ul li span:hover {
                background-color: #fafcfd;
                color: #5b9bd1;
            }

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

.card {
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px#888;
    box-shadow: 0 0 2px #888;
}

    .card img {
        width: 80px;
        height: 80px;
        margin-top: 30px;
    }

.nav-tabs > li > a {
    border: none;
}

.tab-pane p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

#publications {
    margin-left: 10%;
}

#publication-add {
    width: 90%;
}

#image-add {
    color: #777;
    cursor: pointer;
}