.profile-pane {
    width: 100%;
    display: table;
    border-spacing: 10px;
}

    .profile-pane .header {
        background: #337ab7;
        color: #fff;
        padding: 5px 15px;
        border-radius: 10px 10px 0 0;
    }

        .profile-pane .header small {
            color: #fff;
        }

    .profile-pane .content {
        background: #ecf0f1;
        border-radius: 0 0 10px 10px;
        padding: 0 15px;
    }

.comment-icons:hover {
    text-decoration: none;
    cursor: pointer;
}

.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    position: relative;
    width: 100%;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}

    .status-upload form {
        float: left;
        width: 100%;
    }

        .status-upload form textarea {
            background: none repeat scroll 0 0 #fff;
            border: medium none;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            -ms-border-radius: 4px 4px 0 0;
            -o-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            color: #777777;
            float: left;
            font-family: Lato;
            font-size: 14px;
            height: 70px;
            letter-spacing: 0.3px;
            margin-left: 7%;
            padding: 20px;
            width: 100%;
            resize: vertical;
            outline: none;
            border: 1px solid #F2F2F2;
        }

        .status-upload form button {
            border: medium none;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            color: #fff;
            float: right;
            font-family: Lato;
            font-size: 14px;
            letter-spacing: 0.3px;
            margin-right: 9px;
            margin-top: 9px;
            padding: 6px 15px;
        }

            .status-upload form button > i {
                margin-right: 7px;
            }

.dashboard {
    margin-bottom: 15px;
}

.thumb {
    height: 100px;
    border: 1px solid #000;
    margin: 10px 5px 0 40px;
}

#publication-picture {
    position: absolute;
    top: 10px;
    opacity: 0.0001;
}

.publication-img {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}

ul {
    padding: 0;
    list-style-type: none;
}

.comment-container {
    margin-top: 5px;
}

.comment-item {
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    padding: 5px;
}

.comment-item pre {
    margin-top: 5px;
}

.show-comments {
    cursor: pointer;
}

.show-comments:hover {
    text-decoration: underline;
}

.hide-comments {
    cursor: pointer;
}

.hide-comments:hover {
    text-decoration: underline;
}