@using MeetMe.Web.ViewModels.Publications
@model IEnumerable<CommentViewModel>

<div class="comments-container">
    <ul id="comments-list" class="comments-list">
        @foreach (var comment in Model)
        {
            <li>
                <div class="comment-main-level">
                    <div class="comment-avatar">
                        <img src="@comment.AuthorImageUrl" alt="Comment user logo">
                    </div>
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author">
                                <a>@comment.Author</a>
                            </h6>
                            <span>@comment.CreatedOn</span>
                        </div>
                        <div class="comment-content">
                            @comment.Content
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>