@using Kendo.Mvc.UI
@using MeetMe.Web.Models.Admin
@model IEnumerable<DashboardViewModel>

@{
    ViewBag.Title = "About";
}
<div>
    @(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.FullName).Title("Full name");
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    .Pageable(pageable => pageable
       .Input(true)
       .Numeric(false)
     )
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .ServerOperation(false)
     ).Deferred(true)
    )
</div>
<h3>About page</h3>
